@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://i.imgur.com/apNiO7Q.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(7px);
}

.body-bk {
  @apply bg-gradient-to-b;
  @apply from-slate-950;
  @apply to-green-950;
}

.gradient-1 {
  background: linear-gradient(to bottom, rgba(241, 10, 10, 0), #020617);;
}